[2017-08-02 16:15] gtrias commented on #591
Nope, I've get the exactly same error :(

My local machine versions:
[code]

docker image is extending from node:latest so node version is: v8.2.1

[2017-08-02 16:22] nickbalestra commented on #591
mmmm thanks a lot for the info. Out of curiosity if you use npm instead of yarn will make it any difference?

[2017-08-02 16:38] gtrias commented on #591
lol it makes difference...
The publish enters in an infinite loop

[code]

[2017-08-02 16:59] gtrias commented on #591
It is happening something weird, When I execute `NODE_ENV=production oc publish .` it is changing my `package.json` contents and creating a `package-lock.json` file...
AFAIK is upgrading my component dependencies... It seems oc-client needs to manage a package.json from where it is executed in order to publish the package.

I thought the issue was running `oc publish .` from the component folder,

[2017-08-02 17:08] nickbalestra commented on #591
Thats npm 5 and should be ok.
We found the issue is the `fbjs` package as its not requirable as normal packages and we check by requiring. Will work on a fix tomorrow.

[2017-08-02 17:19] gtrias commented on #591
But upgrading all component dependencies is something dangerous IMHO. I still don't get the point in doing so..

Thanks a lot @nickbalestra. Should be possible to disable the load-dependencies phase of oc publish somehow? Or it's required also for buil-in template engines?

[2017-08-02 19:22] matteofigus commented on #591
@gtrias I think the best for the time being is to lock OC to 0.39.X to achieve that.
We have a fix in mind and that should be out tomorrow with a new patch on 0.40.x

[2017-08-02 19:50] #493 closed

[2017-08-03 10:17] nickbalestra commented on #591
@gtrias #592 should fix it.

In your scenario, If I understand correctly, you shouldn't need to worry about being able to disable the `load-dependencies` phase as you're already running install before publish, therefore `load-dependencies` should just find them and skip successfully.

I'll leave this open until we merge and publish the fix, if it solves it, feel free to close this

[2017-08-03 10:23] matteofigus opened #593 "Move npm to cross-spawn npm"
Currently we self-host npm inside the cli to run install commands.

It would be nice to use cross-spawn so that
1) it could use a separate thread possibly resulting in better performance
2) it would run the command with the npm version that the user has in its machine. This brings simplicity, transparency, and enhances control
3) Consistency: we already use cross-spawn in the templates and other p

[2017-08-03 10:32] nickbalestra commented on #593
💯  Yess!!

[2017-08-03 10:34] gtrias commented on #591
It works now :confetti_ball: . Thank you guys!

[2017-08-06 13:48] nickbalestra opened #598 "Watch not working (CLI dev)"

[2017-08-07 10:27] #598 closed

[2017-08-07 14:12] debopamsengupta commented on #517
Hi :) Happy to provide the info here :

- Skyscanner
- Use case: Decentralizing our front-end architecture by building shared, re-usable components
- Production 😄  From Feb 2017
- Contact person - Dev Sengupta (dev.sengupta@skyscanner.net)
- Logo - https://brandfolder.com/s/oubii4-9hvxnc-9hw46b
- Quote (by me)

[2017-08-16 20:53] nickbalestra commented on #341
Already finished and published

[2017-08-16 20:53] #341 closed

[2017-08-24 13:26] antwhite opened #611 ".babelrc file can interfere with oc babel on package and publish"
### Steps to reproduce
create .babelrc file
[code]

Run `oc dev .`

See debug output of babel
[code]

I'm not sure how they could interact but it would be better if oc babel was isolated from global settings

[2017-08-25 16:15] nickbalestra commented on #611
What will be the usecase of having `.babelrc` in your project while not wanting it to interface with the components themselves?

[2017-08-25 17:27] antwhite commented on #611
You could be hosting a babelified microsite with components inside

[2017-08-28 17:50] hemanth-r opened #614 "Need to add 'unsafe-eval' in Content Security Policy for both handlebars and jade templates"
Hi.
I am trying to add Content Security Policy for my site which uses OC.
But I am forced to add 'unsafe eval' to default-src directive of CSP HTTP header since OC client calls html() method of jQuery which internally uses eval().
I tried with both handlebars and jade templates. OC calls jQuery's html() method for jade template as well.
Is there any way I can get rid of allowing 'unsafe-eval' in t

[2017-08-31 05:25] NapoleanReigns opened #618 "Accessing s3 over a proxy from oc-registy"
I am hosting my oc-registry process as a seperate docker container over an EC2 instance in AWS and the access to s3 bucket from this instance would be via a proxy.
we have been patching our local version of oc with below piece of code change for this to work for our use case.

Patch File: src/registry/domain/s3.js

`const proxy = require('proxy-agent');
module.exports = function (conf) {
 const ht

[2017-08-31 14:00] gtrias commented on #591
Hi guys,
I've found other case in which it breaks the publishing phase (it was working before this issue related upgrade).

I have a compenent which uses a private npm package. Defined in `package.json` in git+ssh format (i.e     `"some-package": "git+ssh://git@git.server.com:namespace/some-package.git"`).

oc-client tries to publish this component it enters in an infinite loop in the step `Ensuri

[2017-08-31 14:16] nickbalestra commented on #591
Sounds like an edge case we don't handle.

Will you like to attempt a PR to add support for this usecase?
A think that a good starting point will be [laod-dependencies.js ](https://github.com/opentable/oc/blob/b62b3405b62ff9f5fabbf8ed34bfab55b49e8b8e/src/cli/domain/load-dependencies.js#L27).

The npm Installer should be able to support installing from such locations... @matteofigus perhaps this co

[2017-08-31 14:43] gtrias commented on #591
Thanks @nickbalestra

I can try to make a PR but I should understand how it is determined what modules are missing at all.
The CI server script executed is the next:
[code]
So the module is already installed under node_modules before build and publish steps are executed...
What do you mean by manually install the specific dep? Make a `yarn add dep`?

[2017-08-31 14:59] nickbalestra commented on #591
mmm `yarn install` ? (not sure what yarn --only does).
Perhaps trying first to replicate this by trying to publish from local could help debug this, did you try that already? Could you try with npm instead? As we use npm underneath atm there could be an issue when using yearn, we don't have any tests for yarn and we cannot claim support for it atm. The issues I mentioned above could be a first ste

[2017-08-31 15:27] matteofigus commented on #618
I think I would be in favour of adding this optional property. Would you be able to do a PR for that?

[2017-08-31 16:09] gtrias commented on #591
Tomorrow I'll try what you say because righ now I can build my project using yarn but not using npm... :sweat_smile:

[2017-08-31 16:58] NapoleanReigns commented on #618
Sure, I will float a PR for considering conf.s3.agentProxy property under configuration.

Thank you.

[2017-08-31 18:42] NapoleanReigns commented on #618
I have created a PR.
Please Review.

Thanks

[2017-09-01 09:28] gtrias commented on #591
I made a refactor to my component to have the right versions for npm as for yarn so now I an test the deploy using npm istead of yarn.

Note that is happening exactly the same (Infinite loop trying to install the missing dependecies). But I have good news! I found a workarround, installing my private dependency as devDependency fix the problem :), not sure if is a very elegant solution but since I

[2017-09-01 10:05] tkant commented on #517
- Chegg (www.chegg.com)
- Products => Study, Tutors
- Use case: Many different business lines, code base on different stack, clubbed similar frontend functionalities like Header section, Content Recommender widgets, etc.
- On Production <3
- Contact person - Navam Gupta <navam@chegg.com>, Rishika Agarwal <rishika@chegg.com>, Me (Tushar Kant) <tushar@chegg.com>
- Logo - [Link](https://cdn.frontify.

[2017-09-03 10:56] #618 closed

[2017-09-03 15:53] NapoleanReigns commented on #618
Thanks Matteo.

[2017-09-07 15:34] nickbalestra commented on #351
Hey Dev, did you find any work-around/solution to this?

On a side I started doing some explorations on the watcher logic, and I think there are few small things we could quickly change to improve the overall DX.
- Atm once a change is detected we repackage [all the components ](https://github.com/opentable/oc/blob/master/src/cli/facade/dev.js#L46)in the dev registry directory, I think we could ju

[2017-09-08 17:35] debopamsengupta commented on #351
Hi,
That sounds good :) I can also take a look as to how we can potentially ignore certain files/folders (my thoughts are, mainly `node_modules`)
Right now, we usually disable the watcher logic if we are working with more than 1 component :(

[2017-09-08 17:44] nickbalestra commented on #351
This should address the first point -> https://github.com/opentable/oc/pull/632. Perhaps it could help you in the scenario you describe where you have to disable the watcher if working on multiple components

[2017-09-08 18:48] danrr commented on #351
It would be nice to be able to define a white/blacklist for the watcher in, say, package.json or oc.json or as a CLI arg

[2017-09-08 19:08] nickbalestra commented on #351
Agree @danrr. I feel it could be a good thing to host that within the oc.json

[2017-09-08 21:53] nickbalestra commented on #351
I did some investigations for the `ignore` story, here my findings to confirm @debopamsengupta report.
- It seems that we don't ignore from watching any file atm, we simply [ignore some results](https://github.com/opentable/oc/blob/master/src/cli/domain/watch.js#L17) of the watching process for the followings `[node_modules, package.tar.gz, _package, .sw[op], .git, .DS_Store]`

My question is, if

[2017-09-08 21:56] danrr commented on #351
It would make it nicer but there is still one big issue: project configuration folders for various IDEs like .idea or .vscode.

[2017-09-08 22:04] nickbalestra commented on #351
fair point. The question is  (as those file don't normally change that often and don't hide universes like `node_modules` and `.git` often do) if having a couple of such files added to the watch list will make such a big difference to the point we should really add a `feature` to ignore them. I'm try to think when/where those will make such a big problem in this context

[2017-09-08 22:08] danrr commented on #351
We have had a lot of complaints from people within Skyscanner about IDE config folders specifically. They can cause the registry to repackage at random times causing some frustration.

[2017-09-08 22:17] nickbalestra commented on #351
With #632 I think that shouldn't happen anymore as the repackaging will not happen for the whole registry anymore, and secondary only if a file within the component has changed.

I suggest we could first try to have another PR to fix what @debopamsengupta outlines in regard to `.git` and `node_modules` and see if that together with #632 silence those IDE issues. If not we can add a specific config

[2017-09-08 22:31] nickbalestra commented on #351
I also see we don't ignore dotFiles. @matteofigus any specific reasons for this?  If we set this to true probably any of the iIDE config issues reported should be addressed. @danrr do you foresee any issue in ignoring dotfiles within components folders in general while watching?

[2017-09-09 01:01] debopamsengupta commented on #351
Unsure if we'd want to specify ignoring of dotfiles, I like the idea of either
- ignoring everything in `.gitignore`
- having a blacklist in `oc.json`

[2017-09-09 23:05] nickbalestra commented on #351
The changes seems to provide quite a fair amount of speed improvement on the watch logic now. Let us know, once we publish it, if it addresses all your issues as well.

![livereload](https://user-images.githubusercontent.com/389705/30244700-730f9bd4-95bb-11e7-9f9f-ab204629ae57.gif)

[2017-09-14 05:16] jakeclements commented on #464
I'd be happy to take a crack at removing grunt as my first contribution if no one else is working on it

[2017-09-14 09:11] nickbalestra commented on #464
Hey Jake, all good and that will be awesome. Thanks for wanting to help on this!

[2017-09-14 11:42] Hobbit71 commented on #517
- Advanced ( https://oneadvanced.com )
- Progresso (Schools Management Information System)
  - Use case: Adding re-usable components to existing cloud application. Has also allowed A-B testing. Pushing UI/UX changes quicker to the customer.
- Production
- Contact -> Me, message me directly and can provide a additional key contacts.
- For logo - contact me and I can supply appropriate collateral

N

[2017-09-15 12:54] greenkeeper[bot] opened #642 "An in-range update of lint-staged is breaking the build 🚨"
## Version **4.2.0** of [lint-staged](https://github.com/okonet/lint-staged) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/opentable/oc/compare/greenkeeper%2Flint-staged-4.2.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      lint-staged
    </td>
  </tr>
  <tr>
    <th align=left>

[2017-09-15 15:08] nickbalestra commented on #351
@debopamsengupta published `v0.41.4` that should address this. Closing this for now, in case of any further issues please just reopen this

[2017-09-15 15:08] #351 closed

[2017-09-25 10:59] kmcrawford commented on #379
I have created a PR #662 against this issue.  I created minio in my kubernetes cluster (on GCP) with no external access, so this should minimize security concerns.

The plan would be that it supports the following s3 config.  I could create a minio flag and set the s3ForcePathStyle & s3ForcePathStyle in the code.  But since these are valid s3 options, figured I would leave them configurable.  Thou

[2017-09-25 23:21] kmcrawford commented on #379
I have closed my pr due to that fact that I now understand that oc requires most files to be public.

[2017-10-01 00:49] nickbalestra opened #680 "Static Typing Support"
This is just to start the conversation around static typing.
Should we start considering to add static typing to OC either via TS or Flow?
Would love to hear from @aselbie @matteofigus @mattiaerre @debopamsengupta @danrr @elboletaire

[2017-10-01 12:52] elboletaire commented on #680
I started using flow just a weeks ago, and never used typescript.. so I cannot bring much personal information.

Although I've been reading a bit...

https://djcordhose.github.io/flow-vs-typescript/2016_hhjs.html#/
https://michalzalecki.com/typescript-vs-flow/
https://www.reddit.com/r/javascript/comments/39cere/typescript_vs_flow_results_from_our_investigation/

...apparently there are not too muc

[2017-10-02 10:06] debopamsengupta commented on #680
A question
- will this also enforce component authors to write typed JS ?

Haven't used wither Flow/TypeScript before...but it seems a strong point of TypeScript is existing JS is compatible with it..perhaps that flexibility will be useful for component authors ?

[2017-10-02 10:11] elboletaire commented on #680
AFAIK this does not affect component authors. They can still do their code with or without typing their components.

[2017-10-02 10:13] elboletaire commented on #680
Moreover, you can do some parts of the code typed and other parts without being typed. At least for what I've been working with, I've been able to work either ways... both with typed vars and without typed vars (even in the same file).

[2017-10-02 10:18] elboletaire commented on #517
Note that we're currently using opencomponents for private components, mostly (that's why we never posted it here):

- Alvarium (https://alvarium.io/)
- Use case: we're creating a bunch of widgets to signup and manage clients for gyms (in fact, we're creating a CRM, but mainly focused to gyms right now). Nothing available at alvarium.io, what we do is sell our product to other clients and integrat

[2017-10-02 10:26] debopamsengupta commented on #680
for component authors to use typed code, I guess a `oc-template-typescript` or `oc-template-flow` is more appropriate ?

[2017-10-02 19:37] kmcrawford opened #682 "Support Google Cloud Storage"
Creating an issue for Google Cloud Storage support enhancement.

[2017-10-02 23:23] #642 closed

[2017-10-03 00:18] kmcrawford commented on #682
I have a few issues with the tests (some aren't passing and I'm not sure why), need to also create new tests.  However, I have it working fine for me on Google Storage.  I also have a few questions about how to deal with a callback.. All of my questions are marked as TODOs.  I would like to create a PR, just to get some feedback.

[2017-10-03 00:20] kmcrawford commented on #682
PR #683 created.

[2017-10-03 09:08] nickbalestra commented on #680
yes @debopamsengupta, the issue is to simply add static typing support to the oc codebase itself. This shouldn't change how people write components and yes, if you would like to add ts/flow you could add that to your own oc-template :)

[2017-10-03 10:35] matteofigus commented on #680
I'm in favour inside templates for writing components, in fact this is possible with the OC templates.

What's the value we are bringing to the table for having oc itself rewritten in TS/Flow?
Personally, I always had a goal of making easy for people to contribute and improving the contribution rate over time, and I think a Typed system could undermine this:

1) Less easy to contribute - JS is alw

[2017-10-03 11:41] kmcrawford commented on #682
Since it may be possible in the future to support many repo types.  As suggested by @nickbalestra we should decouple s3 from the current implementation as a 1st step.

Tasks:
1.) Create an interface layer to s3.js
2.) Create an interface to conf.s3 for common parts conf.s3.componentsDir, etc.  (or should common components be moved out of s3 config?)
3.) Make Error messages dynamic to support provi

[2017-10-03 13:11] nickbalestra commented on #682
A branch is fine, and perhaps a little bit easier to work together on that, but I'm fine either way, just pick what you prefer. Let me know if you prefer to work on a branch as I think I'll need to give you write permission to the repo.

To add on @kmcrawford points, at the moment we have an `s3` object to hold the [configuration](https://github.com/opentable/oc/wiki/Registry). Perhaps we could ab

[2017-10-03 13:40] kmcrawford commented on #682
@nickbalestra I agree working on a brach would be more collaborative.  I am fine with the storage, but I wouldn't want to making breaking changes for existing users.  Just need to figure out how to still use the s3 config, but have it deprecated.

[2017-10-03 13:47] nickbalestra commented on #682
Yes agree on the braking change.
We could simply have the s3 as the default one, so that s3 will still rely to the s3 config options, while if you have storage: {} you are actually overriding that. In this way we could keep support for the old s3 and keep the s3 code even moved into his own module within the oc core base, while for anything else you'll need to register and use the new storage api/

[2017-10-03 14:44] #593 closed

[2017-10-03 20:37] kmcrawford commented on #682
@nickbalestra I have a branch ready to go for 1, 2, & 4.  However I do not have access to create a branch.

[2017-10-03 20:59] kmcrawford commented on #682
Also I have to do the require like this...

[code]

[2017-10-05 10:23] nickbalestra opened #691 "Development version for externals dependencies in templates"
At the moment a template expose a list of externals dependencies, that is exposed in the registry via context and used to dynamically add support for them to the oc-client component. As we rely on the same mechanism for the dev registry this make the local dev environment rely on production version of such externals.
Many libs production optimized libs offer less support for errors and debugging,

[2017-10-05 15:46] nickbalestra commented on #682
Now that we have a first PR for the [storage-adapters API](https://github.com/opentable/oc/pull/688) merged I'll suggest the following steps:

- move s3.js adapters to -> https://github.com/opencomponents/storage-adapters
- update documentation -> https://github.com/opentable/oc/wiki
- add google-cloud-storage adapter to -> https://github.com/opencomponents/storage-adapters

@kmcrawford what you t

[2017-10-06 04:28] NapoleanReigns opened #696 "Not able to bring up my node js registry client with oc 0.41.9"
Hey guys i am not able to bring up my registry with oc 0.41.9.

[code]

Looks like its failing when pushing the oc-client to s3 bucket and the error callback its throwing an error.

Thanks for you help.

[2017-10-06 08:35] NapoleanReigns opened #697 "Not able to interpret error msg thrown while oc publish of a component."
I am trying to publish a component of size ~240 MB. I am using oc 0.41.5 cli

`SOKATHAV-M-T0KM:Publish sokathav$ oc publish an-component
Ensuring dependencies are loaded...OK
Packaging -> /Users/sokathav/Downloads/Publish/an-component/_package
Compressing -> /Users/sokathav/Downloads/Publish/an-component/package.tar.gz
Publishing -> http://localhost:3000/oc/an-component/1.0.1-24
An error happened

[2017-10-06 13:10] nickbalestra opened #698 "OC-Client setup documentation"
Improve documentation related to adding the oc-client.js library via the oc-client componnet.
@kmcrawford had some issue understanding the workflow and how to configure that scenario, feel free to add some extra context on what wasn't clear so that we can improve the documentation on that.

[2017-10-06 15:46] NapoleanReigns commented on #697
I see that the issue could be in the below line when we perform oc publish from cli,

https://github.com/opentable/oc/blob/d50338291b1f47de154961b9c064baf6e1509db5/src/utils/put.js#L46

`res.on('end', () => {
      if (!callbackDone) {
        callbackDone = true;

        if (res.statusCode !== 200) {
          callback(body);
        } else {
          callback(null, body);
        }
      }

[2017-10-06 17:19] #697 closed

[2017-10-06 17:41] #696 closed

[2017-10-06 18:38] NapoleanReigns commented on #697
with 0.41.10 i see below
[code]
oc doesn't seem to be capturing or printing proper errors in cases when the response.StatusCode is other than 200 code

[2017-10-09 14:40] #464 closed

[2017-10-12 21:41] denysvitali commented on #524
A similar feature may be useful when you have to disable / remove a certain component version on the registry.
Let's say you have a `component-name (v1.0.0)` which has some `server.js` code that is remotely exploitable (like an SQL injection, a RCE, you name it).
Your team fixes the security issue in `v1.0.1` and push the newest version to the registry; the clients which adopt the `v1.0.x / v1.x`

[2017-10-13 17:02] matteofigus commented on #519
I am closing this, as we opted for partial lerna modularisation as test in the `opencomponents` organisations and we are very happy with that.

Examples: https://github.com/opencomponents/base-templates https://github.com/opencomponents/oc-template-react https://github.com/opencomponents/storage-adapters

[2017-10-13 17:02] #519 closed

[2017-10-24 13:30] #441 closed

[2017-10-25 17:55] tomfun opened #726 "emulate s3 storage with minio"
I need to add extra field for s3 initialization for local [S3 emulation with minio](https://minio.io/docker.html)
[code]
[This options are from minio configuration example](https://github.com/minio/cookbook/blob/master/docs/aws-sdk-for-javascript-with-minio.md)

I propose to a few line [there](https://github.com/opentable/oc/blob/master/src/registry/domain/s3.js#L33)
[code]

[2017-11-02 10:30] elboletaire opened #730 "oc-client 0.41.15 does not properly compile some dependencies"
Today I've found our CI environment failing on OC deploy, due to the following error:

![imatge](https://user-images.githubusercontent.com/153305/32321324-0ad90e58-bfc1-11e7-8749-7a7a1850730d.png)

We didn't change anything from the previous working deploy to this, but the oc-client version changed. Using oc-client 0.41.13 works as expected, but the current doesn't allow us to properly publish to

[2017-11-03 17:14] matteofigus commented on #730
Thanks @elboletaire - I am looking into this.

[2017-11-06 20:49] sboddu opened #738 "Error while running oc dev .3030 in windows machine"
Hi,

Steps to reproduce:

It throws Below error:

D:\Projects\Research\poc>oc dev . 3030
Looking for components...OK
├── D:\Projects\Research\poc\hello
Ensuring dependencies are loaded...
Packaging components...an error happened while packaging D:\Projects\Research\poc\hello: ./hello/node_modules/oc-template-react-compiler/lib/higherOrderServer.js
Module not found: Error: Can't resolve 'D:Projects

[2017-11-09 04:02] kmcrawford commented on #738
I think I found the issue. In the oc-template-react-compiler it's the way the higherOrderServerContent is being generated. On Windows the 'serverPath' variable is being rendered as 'C:\mydirectory\mycomponent\server.js'. I think it is how these slashes aren't being escaped correctly for windows.

If I hardcode 'C:\\\\mydirectory\\\\\mycomponent\\\\server.js'  in the higherOrderServerContent const

[2017-11-09 12:03] nickbalestra commented on #611
So it seems that a the dotfile has precedence over the configuration given to the babel-loader within webpack. A safe solution will be to move the babel related configuration within

- https://github.com/opencomponents/base-templates/blob/master/packages/oc-webpack/lib/configurator/index.js#L29
- https://github.com/opencomponents/oc-template-react/blob/master/packages/oc-template-react-compiler/li

[2017-11-09 12:10] nickbalestra opened #750 "Dev registry and custom-templates"
Together with @JonSchapiro we discover a bug affecting the dev registry when running non-base templates

version used: 0.42 (I guess that this will affect all the version released after #710)

to reproduce:

1. oc init test-component oc-template-react
2. oc dev . 3030
3. navigate to http://localhost:3030/test-component/~info <= All should be ok here
4. it the component endpoint on the registry htt

[2017-11-09 12:14] matteofigus commented on #750
Can you please include node version and npm version. This definitely doesn't happen with me

[2017-11-09 23:06] kmcrawford commented on #738
This issue can be closed.

[2017-11-10 00:46] matteofigus commented on #738
Thanks for your help @kmcrawford

[2017-11-10 00:46] #738 closed

[2017-11-10 13:23] elboletaire commented on #591
Same issue here, both using npm and yarn.

The workaround from @gtrias works, but it hurts me a bit moving production dependencies to the `devDependencies` and having to install them all 😖

[2017-11-10 13:27] matteofigus commented on #591
Thanks @elboletaire - as far as I can tell, the whole dependency handler is been completely rewritten - so most of the previous comments shouldn't apply. Have you tried with 0.42.x?

[2017-11-10 15:12] elboletaire commented on #591
With version 0.42.0 fails with another error:

![imatge](https://user-images.githubusercontent.com/153305/32664524-cb35d7d2-c631-11e7-8d88-7d9a681a7219.png)

Whilst using 0.41.13 (I'm here due to #730) does not have this issue, but enters in a loop, as stated before.

[2017-11-10 15:15] elboletaire commented on #591
Using version 0.41.16 also throws the `logger.fail('FAIL')` error.

[2017-11-10 15:29] elboletaire opened #752 "logger.fail is not a function when dependencies are not met during publish (since 0.41.15)"
Trying things for #591 I've seen an error since version 0.41.15 when some dependencies are not met and oc tries to install them:

![imatge](https://user-images.githubusercontent.com/153305/32665325-1e207f7c-c634-11e7-9fe4-519ed550db61.png)

I've also tested it in 0.41.16 and 0.42.0, where also fails. Using 0.41.14 properly shows the `FAIL` message and tries to install the dependencies without thro

[2017-11-20 15:33] elboletaire commented on #730
BTW, is this dependency check/installreally needed? The way we work, we previously compile all the required dependencies and when we do `oc publish` we already have everything ready to be uploaded, so this is redundant for us, and even buggy as seen in #591

[2017-11-22 10:57] nickbalestra commented on #611
No overrides via a root `.babelrc` are now possible
- oc version 0.42.1
  - oc-template-jade-compiler 6.1.8
  - oc-template-handlebars-compiler 6.1.8
- oc-template-react-compiler 1.0.7

[2017-11-22 10:57] #611 closed

[2017-11-22 11:06] nickbalestra commented on #750
I can confirm with

[code]

as well as with
[code]

Both env resulting in the following error on step `4` of the mentioned steps to reproduce
[code]

[2017-11-28 10:40] #730 closed

[2017-11-28 11:05] elboletaire commented on #698
All the documentation of the project is stored in the github wiki? I think we should do something about that too.

[2017-11-28 11:06] nickbalestra commented on #698
Yes, what would you suggest?

[2017-11-28 11:10] elboletaire commented on #698
I think github wikis never worked too well, everyone usually moves to use something like gh-pages (with a custom static built page), or services like readthedocs.io. In fact, we could even use both. Use gh-pages for the pretty version publishing the product and the documentation in readthedocs.io.

Or even having everything in gh-pages well packaged (both the "product page" + the documentation)...

[2017-11-28 11:26] elboletaire opened #769 "Add cli argument to skip dependencies packaging"
In some scenarios people tend to compile dependencies by their own before doing `oc publish`, so let's add a cli argument, something like `--skip-dependencies` or `--skip-build`, to allow us skip the dependencies installation later again via oc.

[2017-11-28 11:28] elboletaire commented on #769
If I start working on it I'd assign it to me. Until then, I leave it open for others to collaborate.

[2017-11-28 11:48] matteofigus commented on #769
So, given we have an `oc package` command (which contains the `_package` folder, perhaps I would call this `--skip-package` - so it would just publish whatever is inside `_package` (skipping the dependencies' check and all of that. What do you think?

[2017-11-28 16:01] elboletaire commented on #769
I don't know the internals like you, so I guess your argument will probably fit better than mine :_D

[2017-11-29 22:54] matteofigus commented on #750
@nickbalestra is this still happening? I think our acceptance tests suite now covers this scenario. Should we close?

[2017-11-29 23:02] matteofigus commented on #682
Moved the issue to the other repo.

[2017-11-29 23:02] #682 closed

[2017-11-29 23:03] matteofigus commented on #553
Moved the issue to the storage adapters repo.

[2017-11-29 23:03] #553 closed

[2017-11-29 23:03] matteofigus commented on #726
Moved this issue to the storage adapters repo.

[2017-11-29 23:03] #726 closed

[2017-11-29 23:06] matteofigus commented on #539
Closing this issue as it has not been updated in a while. We can reopen if needed.

[2017-11-29 23:06] #539 closed

[2017-11-29 23:19] matteofigus commented on #234
Unfortunately the 204 no content assumes blank response, and for the clients we still need metadata as response to handle cache resolution, version negotiation, etc. So in short, this turns out to be quite trivial and I think there is lack of interest. So, I am closing this, but definitely up for reopening in case anyone would want to work on a PR again.

[2017-11-29 23:19] #234 closed

[2017-11-30 17:53] #752 closed

[2017-11-30 17:55] matteofigus commented on #591
@elboletaire can you retry with latest? (0.42.6)
Thanks

[2017-11-30 17:57] matteofigus commented on #298
I am closing this, because the new plan is to instead remove the jade template from the base templates with a new breaking change in the future. In that scenario, people will be able to just use the new template for pug.

[2017-11-30 17:57] #298 closed

[2017-12-05 09:44] #544 closed

[2017-12-15 00:57] bassettsj opened #789 "Error Message from repository.getComponentInfo logged with [Object object]"
## *Who* is the bug affecting?
Registry maintainers

## *What* is affected by this bug?
The error message is not very helpful.

## *When* does this occur?
1. when `repository.geComponentInfo`'s callback is called with a non error object from a storage error it does not give a helpful message
2. observed in the preview window:
`"component not available: [object Object]"`

## *Where* on the platform

[2017-12-15 18:03] matteofigus commented on #789
Thanks for the issue @bassettsj - I am investigating.

[2017-12-15 19:28] bassettsj commented on #789
@matteofigus I added a failing unit test showing the error. I will open the PR, sorry if this duplicating work.

[2017-12-15 21:23] matteofigus commented on #789
No problem at all @bassettsj I was looking at the code but didn't write any code yet. If you would want to attempt a PR for the tests and a fix, that would super fantastic, want to give it a go?

[2017-12-20 11:53] matteofigus commented on #582
One of the very useful features (perhaps async without delaying startup time) would be to auto-detect new oc/compiler versions, and ask the user for an auto update :)

[2018-01-02 15:31] dipunm opened #796 "Version of template-compiler updates without warning"
## *Who* is the bug affecting?
https://github.com/opentable/Concierge/tree/1cfe1613983ca44c116b310e0c367eb3b9ebba90

## *What* is affected by this bug?
A broken template-compiler cannot be blocked from installing. It also makes a change to my working directory (explained below)

## *When* does this occur?
run `npm start` (or `oc dev oc`)

## *Where* on the platform does it happen?
oc-cli

## *How*

[2018-01-08 11:39] greenkeeper[bot] opened #799 "An in-range update of sinon is breaking the build 🚨"
## Version **4.1.4** of [sinon](https://github.com/sinonjs/sinon) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/opentable/oc/compare/greenkeeper%2Fsinon-4.1.4">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      sinon
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Version

[2018-01-08 11:56] matteofigus commented on #799
Travis was just hanging on a specific build. A retry fixed.

[2018-01-08 11:56] #799 closed

[2018-01-08 15:38] elboletaire commented on #591
Let me assign this to myself, so I can remember it easily.

[2018-01-17 02:22] greenkeeper[bot] opened #803 "An in-range update of sinon is breaking the build 🚨"
## Version **4.1.6** of [sinon](https://github.com/sinonjs/sinon) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/opentable/oc/compare/greenkeeper%2Fsinon-4.1.6">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      sinon
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Version

[2018-01-17 10:00] nickbalestra commented on #750
Yes

[2018-01-17 10:42] nickbalestra commented on #750
Seems fixed with latest

[2018-01-17 10:42] #750 closed

[2018-01-17 16:35] matteofigus commented on #803
False alarm

[2018-01-17 16:35] #803 closed

[2018-01-17 16:36] #789 closed

[2018-01-22 09:44] catt231 commented on #789
Hi I've been trying to use the starter kit to create my first registry but I'm only seeing the JSON not valid error above - could you point me in any direction of what's going wrong?

See example oc-client error which occurs on standard example of starter kit deployment

https://starter-kit-itrqyqhfdt.now.sh/oc-client/0.42.16/~info

[2018-01-24 14:11] matteofigus commented on #789
@catt231 we managed to reproduce and now it should be fixed by #811 and available on the latest version (0.42.18) - can you try to upgrade OC and retry?

[2018-01-26 12:00] kmcrawford commented on #524
I setup our pipeline so that branches are automatically set to experimental and are only allowed to be deployed to the dev registry with a name of {branchName}-{componentName}. Once the branch is merged to master and the branch is deleted, the branch component files are removed from the CDN by a clean up job.  The pipeline also auto increments the patch version if it already exits in the registry.

[2018-01-26 17:03] BhautikDoshi commented on #517
Hi Matteo,

Sorry for delay on this one.

We at Cisco use it for UCS Intersight that we just did GA for.

OC has been extremely critical part of our UI component delivery mechanism
- makes it easy to keep UI code closer to their backend microservice and
then assemble together in browser with complete version control.

What is Cisco Intersight?
https://www.cisco.com/c/en/us/products/servers-unified

[2018-01-26 21:16] themoch opened #817 "Best practices for styling a component using shared assets and resources"
I was hoping somebody could point me to a good resource for styling components that will be used as part of a greater site. I want to have the component use a shared frameworks (materials), font icons (font-awesome/custom icons), and style guide (colors, paddings, etc.) but not have to load the entire resource every time the page renders a component. I know I can have the page load the css for the

[2018-01-29 17:44] catt231 opened #819 "Publishing components from Windows results in "An error happened when publishing the component: package is not valid""
## *Who* is the bug affecting?
Windows Users

## *What* is affected by this bug?
Publishing components

## *When* does this occur?
oc publish my-component my-registry results in "An error happened when publishing the component: package is not valid"

## *Where* on the platform does it happen?
CLI

## *How* do we replicate the issue?
install oc
init component
add registry
try to publish to repo

##

[2018-01-29 17:45] catt231 commented on #789
fixed thanks!

[2018-01-30 12:41] nickbalestra commented on #817
Moved to => https://github.com/opencomponents/oc-template-react/issues/130

[2018-01-30 12:41] #817 closed

[2018-02-03 19:49] jankowiakmaria opened #824 "Author filter in registry page"
Not an issue - rather a feature to be able to filter not only by component's name but by the author as well.

I've done a little bit of work already (but haven't finished yet).

Looks like:
![image](https://user-images.githubusercontent.com/6817645/35770782-d9f29672-0919-11e8-91aa-623826c9142e.png)

And after typing in something:
![image](https://user-images.githubusercontent.com/6817645/35770850-

[2018-02-04 00:10] matteofigus commented on #824
Yay for me! 🥇

[2018-02-05 11:18] #440 closed

[2018-02-09 17:43] #824 closed

[2018-02-15 07:19] tkant opened #831 "Improvements: Add support to throw custom status like 404,403 instead of only 500s"
## *Who* is the bug affecting?
OpenComponent, callback excepts first argument as error. What so ever we pass in it, string or object, this always make OC to throw 500s, and client side js keeps on retrying to get the same resource, even when we know that the called resource doesn't exists at all (API call being made from OC)

## *What* is affected by this bug?
Server (Node) side

## *When* does th

[2018-02-19 13:30] elboletaire commented on #485
Any news about this?

[2018-02-22 14:47] nickbalestra opened #833 "V1 release prep work"
With the work we have been doing in the past months we should getting closer to a v1 release
few things missing:
 - [ ] Only package[ oc-template-es6 ](https://github.com/opencomponents/base-templates/pull/252)with OC as the default bundled template
- [ ] Update examples and documentations to reflect ^ and use es6 example as main component examples
- [ ] Only package the s3 storage adapter as it i

[2018-03-07 20:37] matteofigus opened #836 "Security vulnerabilities"
Just need to track this https://github.com/mapbox/node-pre-gyp/pull/347

Also, just to be clear, they are all low severity as affect only the CLI tool, not the registry API.

[2018-03-12 13:41] matteofigus commented on #836
Waiting for this now that node-pre-gyp as been merged. https://github.com/strongloop/fsevents/pull/201

[2018-03-14 14:17] pbazydlo commented on #833
When releasing v1 it will be worthwhile to update this part of the readme `This project is still under heavy development and the API is likely to change at any time`. Unless you still foresee the API might change drastically?

[2018-03-21 15:15] greenkeeper[bot] opened #850 "An in-range update of sinon is breaking the build 🚨"
☝️ Greenkeeper’s [updated Terms of Service](https://mailchi.mp/ebfddc9880a9/were-updating-our-terms-of-service) will come into effect on April 6th, 2018.

## Version **4.4.7** of [sinon](https://github.com/sinonjs/sinon) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/opencomponents/oc/compare/greenkeeper%2Fsinon-4.4.7">Build failing 🚨</a>

[2018-03-21 23:02] #850 closed

[2018-03-27 15:26] matteofigus opened #854 "Port allocation and conflicts"
When a port is busy, both for registry dev, livereload, etc., we could hook a dynamic port finder: https://github.com/sindresorhus/get-port for instance?

[2018-04-03 10:13] kmcrawford commented on #524
I’d like to revisit this.  I do like @matteofigus suggestion of deprecate and undeprecate.  Mostly for the case of a component is thought to be complete. Gets published & and the team finds an issue and quickly needs to rollback.

Right now the only solution is to delete and bounce, which can have negative effects for a short while between the delete and the bounce. (Which is how we clean up branc

[2018-04-09 22:54] #504 closed

[2018-04-09 22:54] matteofigus commented on #504
Closing as we moved all the links to point to the new docs and the README will be reworked as part of V1 release

[2018-04-09 22:57] matteofigus commented on #473
All the new stuff has >98% test coverage, we got some love, let's celebrate and close. In case we want to do more, let's reopen a new issue with a clear new target in mind.

[2018-04-09 22:57] #473 closed

[2018-05-01 15:16] #854 closed

[2018-05-07 14:38] greenkeeper[bot] opened #873 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Replaced the old Node.js version in your `.nvmrc` with the new one
- The new Node.js version is in-range for the engines in 1 of your `package.json` files, so that was left alone

If you’re interested in upgrading this rep

[2018-05-15 00:07] mattiaerre commented on #512
closing this issue 👋

[2018-05-15 00:07] #512 closed

[2018-05-22 07:49] greenkeeper[bot] opened #879 "An in-range update of simple-git is breaking the build 🚨"
## Version **1.94.0** of [simple-git](https://github.com/steveukx/git-js) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/opencomponents/oc/compare/master...opencomponents:greenkeeper%2Fsimple-git-1.94.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      <code>simple-g

[2018-05-22 20:09] #873 closed

[2018-05-24 05:55] greenkeeper[bot] opened #880 "An in-range update of sinon is breaking the build 🚨"
## Version **5.0.9** of [sinon](https://github.com/sinonjs/sinon) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/opencomponents/oc/compare/master...opencomponents:greenkeeper%2Fsinon-5.0.9">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      <code>sinon</code>
    </td>

[2018-05-28 10:14] dopeddude opened #883 "`registry remove <registry_url>` does not work with the urls without a trailing slash"
## *Who* is the bug affecting?
component creators

## *What* is affected by this bug?
oc-cli

## *When* does this occur?
When trying to remove the registry url without a slash, and the same registry url value was added successfully

## *Where* on the platform does it happen?
cli

## *How* do we replicate the issue?
-- $ oc registry add http://localhost:3000/oc
-- $ oc registry remove http://localh

[2018-05-29 13:01] #883 closed

[2018-05-29 13:32] #880 closed

[2018-05-30 03:21] rgupta2 opened #887 "Ignore"
## *Who* is the bug affecting?
component creators

## *What* is affected by this bug?
node client

## *When* does this occur?
My open component keeps loading because one of the ignoreable files like '.idea/workspace.xml' keeps getting updated by the IDE

## *Where* on the platform does it happen?
client

## *How* do we replicate the issue?

- setup an open component project using Intellij IDE. As

[2018-05-30 09:39] #887 closed

[2018-06-04 13:24] #879 closed

[2018-06-04 21:07] pbazydlo opened #898 "oc-cli breaks when modifying file on Windows"
## *What* is affected by this bug?
`oc-cli`

## *When* does this occur?
When `oc dev` command is invoked and one of the watched files is modified.

## *Where* on the platform does it happen?
cli

## *How* do we replicate the issue?
Modify the file when in `oc dev` mode on Windows (it's enough if the path contains invalid character for regular expression, like `:`.

## Expected behavior (i.e. solut

[2018-06-07 10:42] #898 closed

[2018-06-18 15:37] benbotwin opened #906 "unable to set a cookie's path to '/'"
## *What* is affected by this bug?
browser client

## *When* does this occur?
any time a cookie is made

## *Where* on the platform does it happen?
clients

## *How* do we replicate the issue?
create a cookie with a path such as
`document.cookie = name='ben';path=/;`

## Expected behavior (i.e. solution)
The cookie's path should be `/`

## What version of OC, Node.js and OS are you using?
node 8.9

[2018-06-18 17:23] benbotwin commented on #906
I don't mind having the host portion there, but the rest of the URL is what i don't want.
I'll set path to `/` and the cookie's path will end up being `/foo/bar/` or something like that which is the URI for for the page that's importing the OC.

Setting domain doesn't help, unfortunately.

[2018-06-18 18:39] kmcrawford commented on #906
@benbotwin I am closing this issue.  Please work with K2 internally as this is being executed clientside and not an issue with oc.

[2018-06-18 18:39] #906 closed

[2018-06-22 08:40] siluet opened #907 "Static directory listing causes registry crash"
Hi,
I can access my image via:
http://localhost:3030/my-component/0.0.1/static/img/logo.png

But when I goto http://localhost:3030/my-component/0.0.1/static/img/
registry crashing and I am getting following error from the cli:

[code]

[2018-06-23 05:08] matteofigus commented on #907
Thanks for reporting this @siluet
What platform are you using? Operating system, oc version and node version?

[2018-06-25 08:30] siluet commented on #907
Hi Matteo,
I am running node on a macos sierra, and versions are below:
node -v   v9.11.1
oc --version   0.44.11

[2018-06-25 11:07] matteofigus commented on #907
Thanks, I did some digging and I think the bug is here:
https://github.com/opencomponents/oc/blob/master/src/registry/routes/static-redirector.js#L45-L50

First we check if the file exist (and in case of folder, it does), but then we assume it's a file and the createReadStream obviously fails. We should probably just check if it's a dir and in case return an error  (a 403?)

Would you like to atte

[2018-06-26 08:40] siluet commented on #907
Hi Matteo,
If I have rights to push, I can create a pull request for this.

Thank you.

[2018-06-26 10:34] matteofigus commented on #907
@siluet no problem, you can do a Fork, make all the changes you need, and then make a Pull Request from there: https://help.github.com/articles/creating-a-pull-request-from-a-fork/ 👍

[2018-06-26 12:30] #907 closed

[2018-07-20 13:12] olteanumihai opened #918 "3rd party npm packages limitation and how to use them"
Hi ,

I have 2 questions:

1. Is there any restriction over any npm package which OC does not allow to consume ?
2. Which are the configurations I need to apply in order to consume a npm package after I installed it, for both local and registry environments ?

Note: I am using oc-template-es6

[2018-07-21 22:06] matteofigus commented on #918
Hi!

Thanks for opening an issue.
When developing locally, you can add any dependency and devDependency to your component. If you do npm install (or use yarn etc) be sure the dependencies are in the package.json too.

When you use dependencies on the view.js, webpack should bundle the whole thing in and you shouldn't need to care about anything. When you use dependencies on the server.js, the depe

[2018-07-22 22:42] #918 closed

[2018-07-30 11:00] olteanumihai commented on #918
This answers to my question. Thanks !

[2018-08-06 08:58] avihaymenahem opened #921 ""TEMPLATE_NOT_SUPPORTED" when creating new react component"
## *Who* is the bug affecting?
React Components

## *What* is affected by this bug?
Browser, supplied apps

## *When* does this occur?
on creating

## *Where* on the platform does it happen?
Client

## *How* do we replicate the issue?
new react template

## Expected behavior (i.e. solution)
should work :)

## What version of OC, Node.js and OS are you using?
OC@0.44.12, Mac OSX @10.13.6

## Other

[2018-08-06 09:18] avihaymenahem commented on #921
Ok, i found it hidden in the docs, needed to add it manually to the conf when initializing the templates section:
[code]

[2018-08-06 09:18] #921 closed

[2018-08-06 09:31] avihaymenahem opened #922 "Pass oc-component props to react component?"
## *Who* is the bug affecting?
React components

## *What* is affected by this bug?
Communication between React components

## *When* does this occur?
When generating new component on page

## *Where* on the platform does it happen?
client

## *How* do we replicate the issue?
Pass custom prop to oc-component tag

## Expected behavior (i.e. solution)
Pass down all props

## Other Comments
Why this

[2018-08-06 17:43] matteofigus commented on #921
@avihaymenahem I think you are right, the instructions for using custom templates are a bit unclear.

One thing you can do though is to curl your registry //your-registry/oc-client and look at al the html you see there. That should be the thing to put on each page (or you can setup a server side render of that OC on each page which is what most people do).

[2018-08-06 17:52] matteofigus commented on #922
I see. Consider that the idea behind the OC is that it should wrap all business of a specific domain. For instance, in your example, I would imagine having a unique OC for the todo list, which perhaps would then wrap a todolist react component with nested list item react components, but I wouldn't have a todolist item in OC, I guess. Hopefully that makes sense? Just wanting to make sure we are on

[2018-08-12 07:07] avihaymenahem commented on #922
The whole idea behind the "Micro Frontends" concept is that all the components can seamlessly integrate with each other, doesnt it?

So attributes is natural way to pass data into component, as every library supports it (not only react, but also angular, vue, and vanilla web components)

Updating a url string should also include a library or any piece of code to translate it back and forth to a pr

[2018-10-04 10:39] NimaSoroush opened #943 "oc package <componentPath> does not find modules in componentPath"
## *Who* is the bug affecting?
component creators

## *What* is affected by this bug?
oc cli tool

## *When* does this occur?
When packaging component

## *Where* on the platform does it happen?
cli

## *How* do we replicate the issue?
- npm install -g oc@0.44.13
- Create an OC component (e.g. temp-oc)
- npm install in temp-oc root
- npm build temp-oc
- cd ..
- oc package ./temp-oc
- see the error

[2018-10-05 10:45] matteofigus commented on #943
@NimaSoroush I guess I should try to reproduce, but I seem to remember that that is respected for devDependencies, but dependencies are instead installed as root (to kind of replicate the behaviour of the real oc registry that actually uses global deps but locally bundled dev ones). Out of curiosity, are your `foo` and `bar` devDependencies or dependencies?

Thanks

[2018-10-05 11:38] NimaSoroush commented on #943
@matteofigus : I see the point of replicating real oc registry but seems to be a bit of overhead as those packages are already installed for that component. Reinstalling it just cause more network call and makes the release process longer. Also, cause a particular issue with the setup we have. We have a CI plugin which package and publish OCs to oc registry and doesn't know anything about internal

[2018-10-05 14:58] matteofigus commented on #943
Thanks for the feedback @NimaSoroush. I agree this is very far from ideal, in fact, we started working on a new branch for completely changing the dependency management (which is the main thing holding us from v1 release as we are all not very happy about it).

Your proposal (add a param to skip the npm installs) seems a neat thing to have anyways, I think I would love something like that. Would y

[2018-10-05 16:19] NimaSoroush commented on #943
Thanks @matteofigus : Can't wait for v1 anyway :)

Yeah. I might be able to Just add a PR for fixing it. Will update here when I have something in place

[2018-11-08 11:38] jackbush-rl commented on #698
@nickbalestra hi there :) we're looking at using OC for a large project at rocket lawyer (and loving bits of it!), but the lack of documentation is a significant hurdle to adoption -- is there a plan for more detailed documentation?

[2018-11-08 11:48] jackbush-rl commented on #833
@nickbalestra this is super exciting -- is there a repository of docs in progress for v1 which we can read and/or help by testing the content? is there a target date for v1?

[2018-11-09 13:13] elboletaire opened #959 "Add editorconfig file"
Just add the editorconfig file, to avoid IDEs not properly spacing and indenting from the beginning.

[2018-11-09 13:48] elboletaire opened #961 "Move husky scripts to where they're expected"
## *Who* is the bug affecting?
Everyone who tries to change OC code.

## *What* is affected by this bug?
Everytime you try to commit/push code, husky complains about where scripts are located.

## *When* does this occur?
git commit & git push

## *Where* on the platform does it happen?
`<root>`

## *How* do we replicate the issue?
1. Clone the repo
2. npm i
3. echo 'whatever' >> README.md
4. git a

[2018-11-09 13:50] elboletaire opened #962 "Update base node to version 8 (or even 10, as it's the current LTS)"
Version 6 of node [is no longer an Active LTS version](https://github.com/nodejs/Release). The current LTS versions are 8 and 10. BTW, trying to update to version 10 can be almost impossible due to the dependencies (I've not tried with OC, but with custom projects that are currently using version 8, trying to update to version 10 its impossible: many dependencies are not properly updated).

Right

[2018-11-12 15:59] elboletaire opened #964 "react-app-polyfill cannot be added as dependency"
## *Who* is the bug affecting?
Anyone trying to package an open component with the dependency `react-app-polyfill`

## *What* is affected by this bug?
The client, with any template (I've tried with handlebars and react templates).

## *When* does this occur?
When you try to package or run a dev server, packaging fails with a `FAIL` (no more errors).

## *Where* on the platform does it happen?
It's

[2018-11-21 14:59] #959 closed

[2018-11-21 15:00] #962 closed

[2018-11-21 15:05] matteofigus commented on #833
@jackbush-rl this is for now the source of truth for any updates and we have no target date yet

[2018-11-30 16:09] #943 closed

[2018-11-30 16:13] matteofigus commented on #769
@elboletaire look at @NimaSoroush's PR that we just merged. Sounds like very similar but for packaging (skips install and does symlinking) https://github.com/opencomponents/oc/pull/971

[2018-11-30 19:48] elboletaire commented on #769
Thanks @matteofigus. Thing is I wasn't able to dedicate more time to this since last time, but I'll look into it as soon as I've time again :smiley:

[2018-12-09 00:49] lukebarton opened #972 "Edge-Side-Includes"
A great way of using oc could be to leverage [Edge-Side-Includes](https://en.wikipedia.org/wiki/Edge_Side_Includes) which are supported by Akamai and Cloudflare for example. To make this a possibility, you'd need a way of fetching the raw rendered html from the registry by URL only.

e.g.
[code]

[2018-12-10 04:55] mattiaerre commented on #972
this is an interesting idea @lukebarton would you like to spike it in a PR?
happy to help you w/ that

[2018-12-12 11:22] lukebarton commented on #972
Thanks for the invitation but I'm not really convinced about the utility of Open Components in general, so at the moment I'd rather spend my energies elsewhere

[2018-12-20 18:12] matteofigus commented on #972
Hi friends, AFAIK there is nothing blocking you today to use that tag via the ES6 template and with SSR, so I am closing because this should be already possible.

[2018-12-20 18:12] #972 closed

[2018-12-28 14:38] jankowiakmaria opened #987 "Rollback component"
## Issue description
Recently we've had an issue when the component had to be quickly rollback to the previous version.
The procedure required going back in the git history and then manually publishing the component.
It was an error prone and not so quick solution.

## Expected behaviour
It would be nice to have some kind of rollback mechanism in place which would republish specified version of co

[2018-12-28 21:37] dipunm commented on #987
- I believe the package.json of the component will need to be updated.
- I like the idea of adding metadata to link back to the original version
- metadata does not factor into precedence, but interestingly, any version with a pre-release flag attached will have a lower precedence than its non-prerelease counterpart. Depending on how we apply  rollbacks,, we should consider making rollbacks a pre-

[2018-12-31 12:35] seif commented on #987
This feels kinda strange to me. Could outcome be achieved by unpublishing a version? Where unpublishing a version would make the registry ignore it so previous 'good' version would be surfaced.

[2018-12-31 22:33] NimaSoroush commented on #987
I think the suggested approach would be really hairy when the number of rollbacks goes high! Instead, a similar approach to [npm unpublish](https://www.npmjs.com/policies/unpublish) would be more desirable. As @seif mentioned, OC-Registry could respect to deprecated version and serve previous good version.

Alternatively, version management for prod traffic for serving OC components could be compl

[2018-12-31 23:42] mattiaerre commented on #987
I still think that it should be the consumer's responsibility to decide whether or not to reference the latest or a specific version of a component. And additionally to have in place a system that can easily pin/unpin a specific component/version w/o the need of a full website deploy for instance. If we really need to have a feature at the OpenComponents platform level I'd vote for something more

[2019-01-02 14:40] NimaSoroush commented on #987
A perfect solution could be a combination of both approaches. Locking a vulnerable version is definitely a valid edge case, although implementing the feature would be complicated in case the number of fallbacks goes high! for example, if you want to lock hundreds of versions which are eventually falling back on each other.

[code]
This case if `curl https://registry/component/1.2.<the big number>`

[2019-01-28 11:30] NimaSoroush opened #989 "`Domain` library is deprecated!"
## *Who* is the bug affecting?
Component creators

## *What* is affected by this bug?
Node client

## *When* does this occur?
in get-component.js > renderer() call

## *Where* on the platform does it happen?
API

## *How* do we replicate the issue?
Possibly by updating an OC component to use webpack 4

## Expected behavior (i.e. solution)
The library should be replaced by a proper alternative or e

[2019-01-28 13:02] matteofigus commented on #989
Hi @NimaSoroush - as far as I remember, the domain library has been pending deprecation since node 6, but still on the pending state, while they finalize a replacement API: https://nodejs.org/dist/latest-v10.x/docs/api/domain.html
I've been waiting for a long time for that, but still nothing new as far as I can tell.

This error looks interesting, as even in node 11 they mention the library is pen

[2019-01-28 19:21] NimaSoroush commented on #989
Hi @matteofigus , webpack 4 is not the solution, is the possible root cause! Although we are still investigating.

Yeah, we are using node 8 and OC for most of our components without any issue. The component that throws this error is the only one adapted webpack 4.

The stack trace coming from OC internal process but that might be just a side effect. I will update this post once I have more info

[2019-01-31 13:55] NimaSoroush commented on #989
Hi @matteofigus , After investigating different scenarios:
- Installing webpack:4 and OC:0.39 -> Renders fine
- Installing webpack:3 and OC:0.45 -> Renders fine
- Installing webpack:4 and OC:0.45 -> Errors "processData is not a function"

This is only happening in one of our old component. Trying all above combination in a fresh OC and all works fine!

So what is the difference?! After looking int

[2019-04-16 12:03] kmcrawford opened #1022 "errors from storage-adapters being ignored"
## This issue effects if there is an error from a storage adapter
This non-caching of errors has kept a polling issue aloof.  And could be causing other issue.

## *When* does this occur?
This occurs when the `getFromJson` is called,  there is an error object being returned that is not being acted on.

https://github.com/opencomponents/oc/blob/bd5bc06b4c42a9588177f92ced1ab5f1084a1189/src/registry/

[2019-04-16 13:25] kmcrawford opened #1023 "context.setHeader from server.js not being applied when calling getData function oc-react-template"
## This is effecting anyone one that is using a client getData call from oc-react-template and the server does a context.setHeader the header is not being set.

What I found is that headers are being set in component.js (below), but when a getData call is being make it is using components.js

Setting headers:
https://github.com/opencomponents/oc/blob/master/src/registry/routes/component.js#L29

No

[2019-04-30 12:52] #1023 closed

[2019-05-20 13:15] sanjanaadeshra opened #1038 "Not able to publish using a windows system."
I am not able to publish components using a windows system.

Node version - 10.x.x
oc version - 0.47.0

[2019-05-23 10:09] eksted commented on #1038
I have a same proplem.
If modify cli/facade/publish.js ->  method: putComponentToRegistry and show options.path in log.
can get "C:\\OC\\my-component\\package.tar.gz", but package.tar.gz not exists

[2019-05-23 11:25] eksted commented on #1038
heroku response: {"error":"package is not valid","details":{"errno":-13,"code":"EACCES","syscall":"mkdir","path":"/app/temp/package-1558610647276/_package/css"}}

[2019-05-30 15:06] matteofigus commented on #836
Snyk is green again! yay.

[2019-05-30 15:06] #836 closed

[2019-05-30 15:07] matteofigus commented on #1038
Actually closing as this seems to be a duplicate of https://github.com/opencomponents/oc/issues/819

[2019-05-30 15:07] #1038 closed

[2019-05-30 15:08] matteofigus commented on #591
I haven't heard of issues anymore and OC publish is working apart from a specific issue with Windows which is tracked in https://github.com/opencomponents/oc/issues/819 - so I am closing this. We can reopen if needed.

[2019-05-30 15:08] #591 closed

[2019-06-12 06:47] abhinavbansal19961996 opened #1054 "Adding support for large request size up till 10 mb(now gives error payloadtoolarge )"
## *Who* is the bug affecting?
We are passing large answers as a post request to open component and if it exceeds 100KB, request gets rejected

## *What* is affected by this bug?
Node (express ) rejects the request and throws error as payload too large

## *When* does this occur?

## *How* do we replicate the issue?
1. Just Create any open component and make a post request to the open component wi

[2019-06-15 23:27] #1054 closed

[2019-07-04 15:49] SatadruBhattacharjee opened #1072 "oc component template for Svelte.js"
Any plan for supporting Svelte.js for component templating :)

[2019-07-17 15:12] fbarbare opened #1077 "Client side re-rendering of components"
We need some query parameters on the server side to do some checks, validate some params, etc... but in modern applications nowadays client-side rendering/re-rendering is common practice.

At the moment, if we want a property to dynamically change, we:
- either need to trigger the re-rendering of ALL OC in the current page
- either manipulate the data-attributes of the OC html so we can render onl

[2019-07-19 12:28] matteofigus commented on #1077
This is interesting. Just to understand a bit more, can you give me an example of your scenario when you need properties to dynamically change and then re-rendering of nested components? I think the original scenario in #295 was about a SSR header that would have some breadcrumbs, and the idea was to change them depending on some Client-side actions. Is it something similar?

[2019-07-19 17:20] fbarbare commented on #1077
So let's say we have a breadcrumbs open component and to render it I would give it a list of URLs and page names.
My app being a client side app, I might change page without actually re-rendering the whole browser, but I need to update the breadcrumbs component with the new values.
Having an "automated" way of detecting changes in those given properties without having to implement an event system

[2019-08-12 10:25] fbarbare commented on #1077
Any thoughts on that @matteofigus ? 🙂

[2019-08-13 17:32] kmcrawford opened #1086 "UnhandledPromiseRejectionWarning: TypeError: Converting circular structure to JSON"
## *Who* is the bug affecting?
Registry hangs on errors

## *What* is affected by this bug?
browser client, and registry server

## *When* does this occur?
During parsing error.

## *Where* on the platform does it happen?
Registry, unable to reproduce

## *How* do we replicate the issue?
Unable to reproduce

## Expected behavior (i.e. solution)
Error with logging

## What version of OC, Node.js an

[2019-08-21 11:54] kmcrawford commented on #1086
I have this code running in production and it has kept our registry from hanging on requests & due to the console.log we can now see which component/team is responsible.  However I'd like this to be considered to be merged in, I can don't have forked code.

[2019-09-06 15:41] #1086 closed

[2019-09-10 11:55] ricardo-devis-agullo commented on #296
What its implemented it's the `reset` method, which is closer to [removeAllListeners](https://nodejs.org/api/events.html#events_emitter_removealllisteners_eventname). Could we have an .off method that resembles more the o[ff](https://nodejs.org/api/events.html#events_emitter_removealllisteners_eventname) where you pass also the eventName and callback?

[2019-09-10 12:02] matteofigus commented on #296
@ricardo-devis-agullo I would be in favour of that. Would you be able to do a Pull Request?

[2019-09-10 12:09] ricardo-devis-agullo commented on #296
Yes, I can :)

[2019-10-10 01:12] julidegulen opened #1122 "Node 12 version upgrade"
Node 12 step should be added to Travis CI.
Some tests might be failing should fixed because expected and returned error messages are not "equal". error messages "contains" expected error messages.

[2019-10-23 10:57] #1122 closed

[2019-11-25 14:28] fbarbare commented on #1077
@matteofigus Should I make a draft of that feature?

[2019-11-29 23:47] ctrlplusb commented on #680
Would you consider leveraging something like [ncc](https://github.com/zeit/ncc) which can transpile a Node file with imports into a single file? It has TypeScript support baked in.

[2019-12-03 17:00] matteofigus commented on #1077
Sure!

[2019-12-03 17:04] matteofigus commented on #680
@ctrlplusb that would be nice. As you can see this conversation hasn't evolved too much in 2 years and now TS is a much more popular language. I think allowing developers to leverage types would actually be very useful. Unfortunately in this codebase we still don't use `import` statements (but we have some ES6).

I definitely would love something like that. I wasn't aware of ncc.

[2020-01-08 12:42] debopamsengupta commented on #680
Is the `server.js` currently transpiled using webpack ? In which case, surely Webpack would support TS out of the box ? or with a plugin or two ?

[2020-02-20 13:49] #796 closed

[2020-03-05 17:53] francjpd opened #1166 "Problem with publish and directory permissions"
## *Who* is the bug affecting?
API / Creators

## *What* is affected by this bug?
Node client / API

## *When* does this occur?

When publishing a component through the api to the registry , and the registry its on a docker container that has a different user - group than root.

## *Where* on the platform does it happen?

## *How* do we replicate the issue?

1. Create a node oc registry
2. Copy it

[2020-03-06 09:57] francjpd commented on #1166
I have forked the repo and added a new property option called `tarExtractMode ` so it can be configurable. For more info [heres](https://github.com/francjpd/oc/tree/fix/publish) the repo

[2020-03-06 09:57] francjpd commented on #1166
Let me know if you need the PR :)

Cheers.

[2020-04-14 19:09] MattShrider commented on #964
This is a necro at this point, but i'm also running into this issue. Did you ever resolve it?

[2020-04-15 00:17] elboletaire commented on #964
No, I wasn't able. But the way we were using OC enabled us to make a workaround. We weren't really using the OC build capabilities, instead, we pre-built our widgets in the CI pipeline with all the required files, and then we did publish those files to OC. So, to avoid the issue, what we did was move the problematic packages to the `devDependencies` block, this way they were ignored by OC.

Obviou

[2020-05-02 20:52] bonroyage opened #1168 "Improving authentication flexibility"
The authentication capabilities for publishing packages are somewhat limited right now. I was looking into adding authentication through our existing infrastructure (be that fetching from a database directly or making an API request to another service), but customising the auth implementation turned out not to be as straight forward as adding a route or a plugin. I noticed however that there's the

[2020-05-27 19:41] chriscartlidge opened #1169 "Upgrade oc-template-handlebars to latest version to fix security issue"
## *Who* is the bug affecting?
Any component that is using the handlebars template version 6.0.17 and below.

## *What* is affected by this bug?
- Node-Client
- Brower-Client

## *When* does this occur?
Versions of handlebars <4.5.3 have a security vulnerability which can lead to a cross-site scripting attack.

## *Where* on the platform does it happen?
- Clients

## *How* do we replicate the issu

[2020-06-05 11:53] #1169 closed

[2020-12-10 11:28] arnaugm opened #1176 "Security vulnerabilities in oc package dependencies"
## *Who* is the bug affecting?

Any user of the `oc` package.

## *What* is affected by this bug?

Projects using the `oc` package as a dependency and running a Snyk test or `npm audit` will see several security vulnerabilities coming from dependencies of this package.

## *When* does this occur?

On running a Snyk security test or `npm audit`.

## *Where* on the platform does it happen?

In clien

[2020-12-10 12:23] matteofigus commented on #1176
@chriscartlidge @dipunm I know you were working on the handlebars stuff, any progress with that?

[2021-02-17 14:38] Taiters opened #1178 "Scope package dependencies are not linked during oc package"
## *Who* is the bug affecting?
Component creators when packaging components (In our case, this was observed in a CI pipeline)

## *What* is affected by this bug?
oc cli

## *When* does this occur?
When packaging components with `--useComponentDependencies`

## *Where* on the platform does it happen?
cli

## *How* do we replicate the issue?
In our case, our CI pipeline which packages OCs will run `

[2021-02-17 14:47] matteofigus commented on #1178
Hi, thanks for submitting an issue. A PR would be great!

[2021-02-18 10:44] qbikez opened #1179 "component-list doesn't respect maxConcurrentRequests"
component-list doesn't respect `maxConcurrentRequests` defined in storage adapter.

## *Who* is the bug affecting?
component creators, registry mainteniers

## *What* is affected by this bug?
oc registry

## *When* does this occur?
when publishing a component to registry. More specifically - when refreshing component cache.

## *Where* on the platform does it happen?
oc registry

## *How* do we re

[2021-02-19 10:55] #1179 closed

[2021-03-01 12:05] #1178 closed

[2021-03-11 07:35] anilakuzum opened #1183 "Angular and Vue... example"
How to find oc angular and vue example

[2021-03-11 11:13] matteofigus commented on #1183
You can look at the react template: https://github.com/opencomponents/oc-template-react and potentially build your own template to use any other framework.

Here is a angular template: https://github.com/guestlinelabs/ngx-oc-component

And I'm not aware of anything Vue related.

[2021-03-11 11:13] #1183 closed

[2021-06-14 16:44] kmcrawford opened #1187 "Ability to override 'https://unpkg.com` domain at repository for templates.js"
## *Who* is the bug affecting?
Consumers of OC, we would like to host unpkg.com react libraries on our domain so we minimize the number of domains, and control access.  unpkg.com is blocking Google Bots for some libraries and thus can effect SEO.

## *What* is affected by this bug?
Browser client

## *When* does this occur?
When templates.js has a reference to unpkg.com

## *Where* on the platform

[2021-06-30 14:02] marcilio9590 commented on #819
up

[2021-07-01 10:20] arnaugm commented on #1176
hi @matteofigus the situation didn't change since December last year, do you have any update on this?

[2021-08-09 09:58] ricardo-devis-agullo commented on #964
It's failing because OC tries to check that the module is installed by doing a [try-require](https://www.npmjs.com/package/try-require), but `react-app-polyfill` does not have an entry point defined, so the try-require fails and OC determines that the package wasn't installed in the `node_modules`, even though it was actually installed.

[2021-08-10 19:31] ricardo-devis-agullo commented on #769
I was thinking on taking on this issue and I think there's 3 use cases to consider when doing this new command.

## 1. Mirroring what publish does on the same component
`oc package your-component-folder`
`oc publish your-component-folder --skip-package`

In this case the scenario is you have your component, you package first, it creates the `_package` folder, so when you run the second command, it

[2021-08-11 10:56] kmcrawford commented on #1187
Resolved.

[2021-08-11 10:56] #1187 closed

[2021-08-12 12:43] kmcrawford commented on #1187
In addition to this change to override unpkg.com for client side rendering, the following must also be done in your registry startup.

[code]

[2021-08-12 14:54] #964 closed

[2021-08-16 08:07] #961 closed

[2021-08-16 08:20] #769 closed

[2021-08-16 10:04] ricardo-devis-agullo opened #1193 "Ability to have environment variables in your OC."
Slightly related to issue #769, if it happens that you package your component beforehand, and then publish the same packaged OC to different registries, it would be nice to have a way to have env variables for each registry. Right now the only way of doing that is having to fully package/publish on each registry, changing values on the server side for each one. What I would propose is to have a ne

[2021-08-16 10:15] pbazydlo commented on #1193
I believe `context.env` is only used to pass environment name and there are no other things passed in it, so we could have something like:
`context.env.values` which would have the environment variables.

However, `process.env` seems to be a standard for interacting with env variables so maybe it's better to use that after all. Is `process` separated between different components?

[2021-08-16 10:20] ricardo-devis-agullo commented on #1193
AFAIK there's nothing stopping you code-wise to pass extra parameters in the `env` object (whatever is tired it will be passed directly to your oc, [see here](https://github.com/opencomponents/oc/blob/master/src/registry/routes/helpers/get-component.js#L376)).

About process.env, the only thing is that right now the `process` object is not passed **[at all](https://github.com/opencomponents/oc/blo

[2021-08-16 10:27] matteofigus commented on #1193
In general there are a number of boundaries that are created for security. If component A relies on process.env.foo to be there, but then component B overwrites that it could break component B for instance.
At the moment that's done by making sure globals such as `process` are not usable on the server.

If you can figure out an elegant way to use `.env` files as convention and process it on build

[2021-08-16 10:29] ricardo-devis-agullo commented on #1193
The proposed solution would not overwrite environment variables between components, since each one will have it's own context object with their own .env file (stored along server.js in the storage).

[2021-08-16 10:41] matteofigus commented on #1193
Can I ask you what would you need this for? An example of what would you use a env setting here that you just couldn't embed in the server.js (or just require it).

When I used OC I remember I typically had something in my server like
[code]
And that was enough for connection strings or any other thing that was env specific. And being not in the `oc.files` webpack would bundle it it on the server

[2021-08-16 11:06] ricardo-devis-agullo commented on #1193
That approach works for us for a lot of environment variables that are not sensitive, but if we also want to use private keys, it would mean that the private keys will be versioned in the repo where we contain our OC, which is not ideal. With the `.env` approach, we can just replace the keys in the middle of packaging/publishing on the pipeline itself.

[2021-08-21 19:12] ricardo-devis-agullo opened #1195 "Pass logger and watch to the template compiler"
On `src/cli/domain/package-components.js` there's two TODO on the compileOptions about adding `logger` and `watch` (see [here](https://github.com/opencomponents/oc/blob/7ebdcc7bcd7398f265c3e30137f6e3f0f92ac948/src/cli/domain/package-components.js#L44)).

I'm creating an issue for this so we can remove the TODO from comments and leave discussion here.

[2021-08-24 13:23] ayaka-kms opened #1197 "A high severity vulnerability introduced in oc"
Hi, a vulnerability https://snyk.io/vuln/SNYK-JS-MERGE-1040469 is introduced in oc via:
●  oc@0.48.19 ➔ watch@1.0.2 ➔ exec-sh@0.2.2 ➔ merge@1.2.1

However, **_watch_** is a legacy package, which has not been maintained for about 4 years.
Is it possible to migrate **_watch_** to other package or remove it to remediate this vulnerability?

I noticed a migration record in other js repo for **_watch_*

[2021-08-25 07:51] #489 closed

[2021-08-31 06:24] ricardo-devis-agullo commented on #1197
It's not possible to remove, but since `watch` is only used for the `oc dev` command I don't think it's a big problem. I can take a look at chokidar though.

[2021-08-31 07:19] ayaka-kms commented on #1197
@ricardo-devis-agullo Thanks for your feedback.

[2021-08-31 20:35] ricardo-devis-agullo commented on #1197
Hi, @ayaka-kms, I just created a PR for this.

[2021-09-03 08:44] #1197 closed

[2021-09-08 19:54] ricardo-devis-agullo opened #1208 "Moving from callback-based to promises"
Not really an important change, but would be nice to move all the callback-styled code to Promises async/await style. Of course, because oc is composed of multiple packages and they all depend on callback based interfaces, this can't be done in one go (technically yes by updating majors but a bit of a nightmare), so a sensible approach could be to convert all internal callbacks to promises, and on

[2021-09-09 12:29] matteofigus commented on #1208
I like the idea. I also think that at this point if we are approaching v1 I would rather go opinionated (for instance async/await only) rather than to keep supporting the cb style - but this is just my 2 cents.

[2021-09-14 08:09] ricardo-devis-agullo commented on #1208
Makes sense to me, we can start by moving to promises with universalify fallback, and remove the fallback on 1.0 (upgrading major on all the rest of packages).

[2021-09-17 06:38] milos-ponj opened #1211 "Accessing IP of the user inside our OC"
Our business needs functionality in which we record IP of the user who interacts with the OC. During my research I've encountered
_oc-free-geo-ip-plugin_ which suggests following code should get the IP:

`const ip = context.requestHeaders['x-forwarded-for'] || context.requestHeaders.remoteAddress;`

But is there a way to get it inside the OC itself? After talking with @ricardo-devis-agullo it seem

[2021-09-17 10:46] ricardo-devis-agullo commented on #1211
So I guess we could add a new `ip` property to the context object that could be something like
`ip: req.ip || req.headers['x-forwarded-for'] || req.connection.remoteAddress`

[2021-09-18 20:54] doffymingozzz opened #1214 "Catchpoint blog migration"
Hi!

It’s Gleb from Catchpoint.com.

I've noticed that your website links to our old blog, which we’re currently migrating from a subdomain to the main domain. The reason I’m reaching out is to make sure you won’t have a 404 error on your website.

You have a link to our old blog on the following pages:
https://toptabletech.herokuapp.com
https://toptabletech.herokuapp.com/blog/2015/03/05/the-dns-a

[2021-09-20 12:04] #1211 closed

[2021-11-01 17:46] rameshanandakrishnan opened #1274 "Prevent page styles from bleeding into the component"
Currently, OC components are within the scope of the light DOM and do not provide any forms of style isolation out of the box. This potentially leaves the components to be altered by rogue global styles. Style isolation will be a nice feature to have so that we can ensure that the component will look the same regardless of where you use it. I would like to propose the inclusion of shadow DOM as pa

[2021-11-02 08:40] ricardo-devis-agullo commented on #1274
What do you think, @matteofigus ?

[2021-11-02 14:12] matteofigus commented on #1274
Hard to say as I think we need more people that use OC to give us feedback.

Generally speaking, I think it makes sense for a client-side rendered component to have shadow dom created as default. For server-side, not sure as I remember that the most common use case for SSR was for rendering things like Header+Footer and all would inherit from global styles. But as far as we make it optional with s

[2021-11-04 20:53] rameshanandakrishnan commented on #1274
@matteofigus Thanks for the feedback. I am not sure if this could be just done without editing the client browser at all. Currently, the browser client is responsible for injecting the HTML using innerHTML,  and I do not think we will be able to capture shadow DOM as a HTML string.  So a solution that is purely template-based might not be possible.

At a template level, we could create an HTML nod

[2021-11-15 16:40] ricardo-devis-agullo commented on #1193
If you could share how your solution works would be nice, although I think it solves different problems (living keys that can change and you always want to retreieve the freshest?)

[2021-11-18 15:47] ricardo-devis-agullo commented on #1168
sounds good to me.

[2021-11-18 15:59] ricardo-devis-agullo commented on #1214
Hi, I could not find any reference on the site to that old link. Can you point me to exactly where that is?

[2021-11-18 16:01] ricardo-devis-agullo commented on #1176
Those vulnerabilities should be gone now, so I'm closing this.

[2021-11-18 16:01] #1176 closed

[2021-11-18 21:29] matteofigus commented on #1214
I am sorry but We cannot help with that. The link is the Opentable tech blog. OpenTable used to sponsor this project but as of today the project continues autonomously. Try reaching out to someone from OpenTable, perhaps @ajcw or @ArnoldZokas

[2021-11-30 15:10] ajcw commented on #1214
Thanks for reporting this @doffymingozzz, it has now been updated.

[2021-12-01 11:27] fbarbare opened #1281 "Adding a new bin option for running the OC CLI tool"
Adding a new bin option for running the OC CLI tool as `oc` can already be used by other CLIs

## _Who_ is the bug affecting?

Component creators

## _What_ is affected by this bug?

node client

## _When_ does this occur?

When trying to run an `oc` command using `npx`

## _Where_ on the platform does it happen?

CLI

## _How_ do we replicate the issue?

1. Run `npx oc package` on an Ubuntu machi

[2021-12-01 11:30] ricardo-devis-agullo commented on #1281
looks good to me

[2021-12-01 14:28] fbarbare commented on #1281
I'll create a PR then

[2022-01-17 20:21] #1208 closed

[2022-04-13 16:54] kmcrawford commented on #1193
@pbazydlo let me look into open sourcing the solution.

[2022-04-13 16:56] pbazydlo commented on #1193
that would be cool, if it helps the main thing I'm not sure about is how you could achieve isolation across different components with the current plugin system

[2022-04-14 11:34] kmcrawford commented on #1193
In the oc plug-in framework there isn’t the ability to know who is calling your function. Our method is to store configurations by the package name of the calling service. Which needs to be passed in to the plug-in as a parameter.  If isolation is required for security, I’d assume that a different registry would be required to prevent components from accessing configurations that they don’t have a

[2022-05-09 12:30] #831 closed

[2022-07-20 07:53] #691 closed

[2022-07-20 09:19] #1166 closed

[2022-07-20 09:21] ricardo-devis-agullo commented on #518
I think adding Prettier removes the need of specific eslint rules about styling, and eslint and typescript recommended eslint settings take care of the rest.

[2022-07-21 20:11] ricardo-devis-agullo commented on #819
this should have been fixed by #1166

[2022-07-21 20:11] #819 closed

[2022-07-28 23:24] joginder0007 opened #1304 "Passing nonce to inline script generated by oc-client"
## _Who_ is the bug affecting?
API consumers

## _What_ is affected by this bug?

Content security policy blocks the script

## _When_ does this occur?

Before rendering

## _Where_ on the platform does it happen?

Client

## _How_ do we replicate the issue?

Add a CSP scriptSrc='nonce=<some_value>'

## Expected behavior (i.e. solution)

oc-client should have configuration for nonce to be passed

[2022-08-26 11:59] ricardo-devis-agullo commented on #1281
not sure this is doable, so closing it

[2022-08-26 11:59] #1281 closed

[2022-08-26 12:34] #518 closed

[2022-08-26 13:41] #492 closed

[2022-09-22 08:54] olof-nord opened #1305 "Update Node.js version specified in NVM config"
## _Who_ is the bug affecting?

Developers wanting to build oc locally.

## _What_ is affected by this bug?

The whole project.

## _When_ does this occur?

During initial developer setup of the project.

## _Where_ on the platform does it happen?

In the local terminal of the developer.

## _How_ do we replicate the issue?

1. Check out repository locally.
2. execute `nvm install` followed by `nv

[2022-09-23 08:37] #1305 closed

[2022-10-05 08:21] olof-nord opened #1307 "Update project to Node.js 14.x"
## _Who_ is the bug affecting?

Everyone using this project.

## _What_ is affected by this bug?

The whole project.

## _When_ does this occur?

This means consumers of the framework might have to consider using an unsupported Node.js version.

## _Where_ on the platform does it happen?

When installing the framework.

## _How_ do we replicate the issue?

`npm install oc`

## Expected behavior (i

[2022-10-10 09:26] olof-nord opened #1309 "Add Node.js v18 to project CI"
## _Who_ is the bug affecting?

Everyone using this project.

## _What_ is affected by this bug?

The whole project.

## _When_ does this occur?

This issue relates to the whole project.

## _Where_ on the platform does it happen?

This would affect the foundation of the framework, keeping it up to date.

## _How_ do we replicate the issue?

To verify that the project is compatible with Node.js 18

[2022-10-11 21:05] #1309 closed

[2022-10-11 21:06] #1307 closed

[2022-10-12 08:42] olof-nord opened #1311 "Update default Node.js version to 16.x"
## _Who_ is the bug affecting?

Everyone using this project.

## _What_ is affected by this bug?

The whole project.

## _When_ does this occur?

This issue relates to the whole project.

## _Where_ on the platform does it happen?

This would affect the foundation of the framework, keeping it up to date.

## _How_ do we replicate the issue?

To verify that the project is compatible with Node.js 16